@import './Button.scss';
@import './variables.scss';
@import './Body.scss';
@import './Brewery.scss';
@import './Header.scss';
@import './Footer.scss';
@import './List.scss';
@import './AutoSuggest.scss';

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
