@import './Button.scss';
@import './variables.scss';
@import './Body.scss';
@import './Brewery.scss';
@import './Header.scss';
@import './Footer.scss';
@import './List.scss';

.App{
  position: relative;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

//Autosuggest input and render
.react-autosuggest__container {
  display: inline-block;
  position: relative;
  width: 220px;
}

.react-autosuggest__input {
  /* display: inline-block; */
  width: 220px;
  height: 36px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  transform: translateY(-.2rem);
  box-shadow: 0 10px 20px rgba(170, 110, 110, 0.822);
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

span.renderSuggestion{
  font-size: 1em;
}