div.column.btns {
  padding-top: 1em;
}


button.ui.button.btn-individual:hover {
  transition: transform .3s;
  transform: translateY(-.7rem);
  box-shadow: 0 10px 20px rgba(15, 86, 119, 0.349);
}

button.ui.button.btn-individual:focus {
  transform: translateY(-.3rem);
  background-color: rgba(170, 110, 110, 0.822);
  box-shadow: 0 10px 20px rgba(15, 86, 119, 0.459);
}

#btn-header:hover {
  transition: transform .3s;
  transform: translateY(.5rem) scale(1.2);
  box-shadow: 0 20px 20px rgba(132, 181, 204, 0.486);
}


/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  padding: 4em 1.5em 0;
  background: #373a47;
  font-size: 1.3em;

  span {
    color: #b8b7ad;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background: rgba(202, 200, 200, 0.295);
      color: #ce5829;
    }
  }
}

.bm-item-list span {
  padding: 0.8em;

  strong {
    margin-left: 10px;
    font-weight: 700;
    font-size: 1em;
  }
}

.bm-item:focus {
  outline: none;
}

