
header.bg-header {
  background-position: center;
  background-image: linear-gradient(to right bottom, rgba(196, 196, 196, 0.24), rgba(216, 211, 211, 0.342)),
    url("../images/wp3376759.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

div.ui.top.fixed.menu {
  background-color: rgba(238, 232, 232, 0.897);
}

h1.ui.icon.center.aligned.header.logoHeader {
  position: relative;
  top: 60%;
}

div.ui.header.content {
  font-size: 1.8em;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px blue;
  font-family: 'Stylish', 'Raleway', Arial, sans-serif;
}

div.content.brs-header{
  font-family: 'Stylish', 'Raleway', Arial, sans-serif;
  font-size: 1.6em;
}

  //small desktop
@media only screen and (max-width: 1280px) {
  div.ui.header.content {
    font-size: 1.5em;
  }

  div.content.brs-header {
    font-size: 1.3em;
  }

  .ui.icon.header i.icon{
    font-size: 1.5em;
  }

  h1.ui.icon.center.aligned.header.logoHeader {
    top: 50%;
  }
}
