

div.center.aligned.row.searchPage {
  padding-top: 18px;
}



div.ui.grid>.row {
  padding-bottom: 0;
}

#list-data{

  #list-header {
    color: rgb(48, 138, 180);
  }

  #list-header:hover {
    color: rgb(184, 52, 52);
  }

  h4#list-header:focus {
    color: rgb(92, 78, 172);
  }

}

#br-list{

  div.ui.header.br-header {
    margin-top: 0.2em;
    font-size: 2.5em;
  }

  div.ui.feed.br-des {
    margin: 0em 0.2em 0.1em;
    padding-left: 1em;
    font-size: 1.2em;
  }
}