body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

div.ui.grid>.row{
  padding-bottom: 0;
}

div.center.aligned.row.searchPage{
  padding-bottom: 18px;
}

header.banner{
  background-position: center;
  background-image: linear-gradient(to right bottom, rgba(196, 196, 196, 0.377), rgba(255, 255, 255, 0.123)),
  url("./images/wp3376759.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h1.ui.icon.center.aligned.header.logoHeader{
  /* margin-top: 300px; */
  position: relative;
  top: 45%;
}

div.ui.header.content {
  font-size: 1.3em;
  color: rgb(255, 255, 255);
}
div.ui.vertical.segment.myFooter {
  background: rgba(200, 200, 200, 0.3)
}

header div.ui.menu{
  background-color: rgba(146, 143, 143, 0.3);
}

.banner div.header.item{
  color: #bbb;
}

div#listBreweries {
  width: 80%;
  margin: 3em 0;
}

div.center.aligned.five.wide.column.breweryLogo {
  margin-top: 40px;
}

.react-autosuggest__container {
  display: inline-block;
  position: relative;
  width: 240px;
}

.react-autosuggest__input {
  /* display: inline-block; */
  width: 240px;
  height: 36px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

span.renderSuggestion{
  font-size: 1em;
}